<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lambda07">
  <xacro:arg name="robot_id" default="lambda07"/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="interface_id" default="-1"/>
  <xacro:arg name="interface_sn" default="-1"/>
  <xacro:arg name="effector_mass" default="-1.0"/>

  <xacro:include filename="$(find lambda07_bringup)/urdf/lambda07.urdf.xacro"/>
  <xacro:lambda07_visual_model robot_id="$(arg robot_id)"/>

  <xacro:include filename="$(find fd_description)/ros2_control/fd.r2c_hardware.xacro"/>
  <xacro:fd_ros2_control
    interface_id="$(arg interface_id)"
    interface_sn="$(arg interface_sn)"
    robot_id="$(arg robot_id)"
    use_fake_hardware="$(arg use_fake_hardware)"
    use_orientation="true"
    orientation_is_actuated="true"
    ignore_orientation_readings="false"
    use_clutch="true"
    emulate_button="true"
    effector_mass="$(arg effector_mass)"
  />
</robot>

